.accordion {
  margin: 25px auto 0;
  width: 25%;
}
.accordion_item {
  list-style: none;
  border: solid 2px #6e781c;
}
.accordion_item:not(:last-of-type) {
  margin-bottom: 5px;
}
.accordion_title_block {
  position: relative;
}
.accordion_title {
  margin: 0 auto;
  padding: 10px 15px;
  background-color: #6e781c;
}
.accordion_icon {
  margin-left: auto;
  position: absolute;
  right: 15px;
  top: 10px;
}
.accordion_content {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: #eef1d9;
}
.vissually_hidden {
  display: none;
}
